.projects {
    .heading {
        margin-top: 10rem;
    }

    .overview {

        .project-buttons-container {
            display: flex;

            .project-button {
                margin-right: 1.5rem;
            }
        }
    }
}