@import '../../scss-styles/styles.module.scss';

.project {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5rem;
    padding: 0 1rem;

    @media (max-width: 900px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 400px) {
        padding: 0;
    }


    .overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @extend %entry-left;

        @media (max-width: 900px) {
            align-items: center;
            margin-bottom: 5rem;
        }

        .project__title {
            color: $text-body;
            margin-bottom: 1.5rem;
            

            @media (max-width: 500px) {
                font-size: 1.8rem;
            }

            @media (max-width: 400px) {
                font-size: 1.3rem;
            }
        }

        .project__description {
            color: $text-body;
            margin-bottom: 1.5rem;
            width: 80%;
            font-size: 1rem;

            @media (max-width: 900px) {
                text-align: center;
            }

            @media (max-width: 400px) {
                font-size: .9rem;
            }
            
        }

        .technologies {
            margin-bottom: 1rem;

            .tech-icon {
                width: 2.3rem;
                margin-right: .3rem;
                transition: all .3s ease-out;

                &:hover {
                    transform: scale(1.2);
                }

                @media (max-width: 400px) {
                    width: 2rem;
                }

                @media (max-width: 300px) {
                    width: 1.7rem;
                }
            }
        }

        .project-buttons-container {
            display: flex;

            .project-button {
                margin-right: 1.5rem;
                font-size: 1rem;
                height: 3rem;
                width: 10rem;

                @media (max-width: 600px) {
                    margin-right: .5;
                    height: 3rem;
                    width: 8rem;
                }

                @media (max-width: 600px) {
                    margin-right: .5;
                    height: 2.5rem;
                    width: 7rem;
                }
        }
        }
    }
    .Tilt-inner {
        @extend %entry-right;

        .image-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            border: 1px solid $primary;
            //box-shadow: rgba(82, 108, 254, 0.3) 0px 19px 38px, rgba(82, 108, 254, 0.22) 0px 15px 12px;
            box-shadow: rgba(83, 109, 254, 0.3) 0px 19px 38px, rgba(83, 109, 254, 0.22) 0px 15px 12px;
    
    
            @media (max-width: 900px) {
                margin-bottom: 1.5rem;
            }
    
            .image {
                width: 40rem;
    
                @media (max-width: 1300px) {
                    width: 30rem;
                }
    
                @media (max-width: 600px) {
                    width: 25rem;
                }
    
                @media (max-width: 500px) {
                    width: 20rem;
                }
    
                @media (max-width: 400px) {
                    width: 17rem;
                }
    
                @media (max-width: 350px) {
                    width: 15rem;
                }
            }
        }
    }
}

//#6dbe4b