.button {
    color: #feffff;
    font-weight: bold;
    font-size: 1.3rem;
    // background-color: #fec110;
    background-color: #6C63FF;
    border: none;
    outline: none;
    padding: 1rem 4rem;
    border-radius: .3rem;
}