// -- VARIABLES -- //
$primary: #536dfe;
$primary-light: #6d83ff;
$text-heading: #ffffff;
$text-body: #f2f2f2;
$bg-dark: #2a2e35;
$bg-darker: #12181b;
$bg-light: #2e343d;
$max-width: 1200px;


//--JS Export--//
:export {
    primary: $primary;
    textHeading: $text-heading;
    textBody: $text-body;
    bgDark: $bg-dark;
    bgDarker: $bg-darker;
    bgLight: $bg-light;
}