.project__section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .projects {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
        .heading {
            margin-top: 10rem;
            margin-bottom: 4rem;
        }

        .projects__image {
            width: 20rem;
            margin-bottom: 4rem;
        }
    
    }
}
