.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .title {
        color: #cccccc;
        font-size: 3rem;
        margin-bottom: .8rem;
    }
    
    .underline {
        border-top: .3rem solid #536DFE;
        width: 6rem;
    }
}