@import '../../scss-styles/styles.module.scss';

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: background .5s ease-in-out;
    z-index: 10;

    .navbar__container {
        width: 90%;
        max-width: 1200px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;

        .navbar__logo {
            color: $primary;
            font-size: 1.5rem;
            cursor: pointer;
        }
    
        .navbar__tabs {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

}