.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #252525;

    &__logo {
        color: #fbd214;
        font-size: 1rem;
        cursor: pointer;
    }

    &__tabs {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}