@import '../../scss-styles/styles.module.scss';

.contact__section {
    width: 100%;
    background-color: $bg-light;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact__heading {
        margin-bottom: 3rem;
    }

    .contact__content {
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10rem;

        // .contact__info {
        //     display: flex;
        //     flex: 1;
        //     flex-direction: column;
        //     justify-content: center;
            

        //     .contact__info__title {
        //         color: $text-body;
        //         margin-bottom: 1rem;
        //     }

        //     .email__container {
        //         color: #79a7df;
        //         margin-bottom: 1rem;
        //     }
        // }

        .contact__form__container {
            min-width: 70%;
            .contact__form {
                display: grid;
                margin-bottom: 2rem;
                grid-template-areas: "name name"
                                    "phone email"
                                    "message message";
                grid-gap: 2rem;

                .name__container {
                    grid-area: name;
                    display: flex;
                    flex-direction: column;
                }

                .phone__container {
                    grid-area: phone;
                    display: flex;
                    flex-direction: column;
                }

                .email__container {
                    grid-area: email;
                    display: flex;
                    flex-direction: column;
                }

                .message__container {
                    grid-area: message;
                    display: flex;
                    flex-direction: column;
                }

                label {
                    color: $text-body;
                    margin-bottom: 1rem;
                }

                input {
                    background-color: #414a57;
                    outline: none;
                    border: none;
                    padding: 1rem;
                    color: $text-body;

                    &::placeholder {
                        color: $text-body
                    }
                }

                textarea {
                    background-color: #414a57;
                    color: $text-body;
                    padding: 1rem;
                    font-family: inherit;
                    outline: none;
                    border: none;

                    &::placeholder {
                        color: $text-body
                    }
                }
            }
        }
    }
}